<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('css/indexCss'); %>
  <%- include('css/bioCss'); %>
  <title>Dr.Blank</title>
</head>

<%- include('header'); %>

<body id="body">
  <div id="center">

  <img src="/pictures/drBlank.jpg" alt="Dr.Blank" width="30%" height="40%">
  <div id="main">
    
    <p>
      I grew up in Akhiok, Alaska. I just really wanted to get out of that depressing town. So I did.
    </p>

    <p>
      I honestly wanted to be a engineer but I couldn't find any scholarships that would pay for me to leave to go to school. Money was tight.
    </p>

    <p>
      Contact: <br>
      Email: rblank47@hotmail.com<br>
      Phone Number: 715-772-4568<br>
      Fax Number: [+1-715-456-7728]<br>
    </p>
  </div>
  </div>

</body>

<%- include('footer'); %>

</html>