<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('css/indexCss'); %>
  <%- include('css/bioCss'); %>
  <title>Dave</title>
</head>

<%- include('header'); %>

<body id="body">
  <div id="center">

  <img src="/pictures/guy-holding-lizard.jpg" alt="Dave" width="30%" height="40%">
  <div id="main">
    
    <p>
      ...
    </p>

    <p>
      lizard...
    </p>

    <p>
      Contact: <br>
      Email: lizDave1@yahoo.com<br>
      Phone Number: 715-782-4588<br>
      Fax Number: [+1-715-456-7788]<br>
    </p>
  </div>
  </div>
  
</body>

<%- include('footer'); %>

</html>