<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('css/indexCss'); %>
  <%- include('css/employeeLoginCss.ejs'); %>
  <title>Blank's Veterinary Clinic</title>
</head>
<body id="body">

  <%- include('header'); %>

  <div id="main">
    <h2>Employee Login:</h2>
    <p>
      <form>
        <label for="employeeId">Employee ID:</label><br>
        <input type="text" id="employeeId" name="employeeId"><br>

        <label for="password">Password:</label><br>
        <input type="text" id="password" name="lname"><br>

        <button>Login</button>
      </form>
    </p>
    <p><strong>Please talk to your employer if you do not have an employee ID.</strong></p>
  </div>

  <%- include('footer'); %>
  
</body>
</html>