<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('css/indexCss'); %>
  <%- include('css/bioCss'); %>
  <title>Grace</title>
</head>

<%- include('header'); %>

<body id="body">
  <div id="center">

  <img src="/pictures/Female-vet-with-puppy.jpg" alt="Grace" width="30%" height="40%">
  <div id="main">
    
    <p>
      I like animals.. *hic* doggos are me fave..
    </p>

    <p>
      [Grace fell asleep and forgot to fill in the rest.]
    </p>

    <p>
      Contact: <br>
      Email: grace09876@yahoo.com<br>
      Phone Number: 715-782-7848<br>
      Fax Number: [+1-715-456-7848]<br>
    </p>
  </div>
  </div>
  
</body>

<%- include('footer'); %>

</html>