<header>
    <div id="b-head">
      <h1>Dr. Blank's Veterinary Clinic</h1>
    </div>

    <style>
      header {
        background-color: #f0f8ff;
        padding: 10px;
        text-align: center;
      }

      h1 {
        color: black;
        font-size: 3em;
        text-shadow: 2px 2px 2px #888888;
        font-family: 'Comic Sans MS';
      }

      nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      nav li {
        display: inline-block;
        margin-right: 25px;
      }

      nav a {
        text-decoration: none;
        color: #00bfff;
        transition: color 0.3s;
        font-size: 1.5em;
        font-family: 'Comic Sans MS';
      }

      nav a:hover {
        color: #808080;
      }
    </style>
  
    <nav>
        <ul>
            <li><a href="index.ejs">Home</a></li>
            <li><a href="WellnessWizard.ejs">Wellness Wizard</a></li>
            <li><a href="resources.ejs">Resources</a></li>
            <li><a href="about.ejs">About</a></li>
          </ul>
    </nav>
</header>