<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('css/indexCss'); %>
  <title>Blank's Veterinary Clinic</title>
</head>

<body id="body">

  <%- include('header'); %>

  <div id="main">
    
  <% if (typeof message !== 'undefined') { %>
    <p><%= message %></p>
  <% } %>
  
  <img src="/pictures/homePage.jpg" alt="Home Page" width="700px" height="700px">

  <br>
  <hr>
  <section id="testimonials">
    <h2>What Our Happy Pet Owners Say</h2>
    <div class="testimonial-container">
      <article class="testimonial">
        <p class="testimonial-text">"The staff at Blank's Vet Clinic were wonderful with my Benny. They treated him like he was their own!"</p>
        <p class="testimonial-author">- Jane Doe</p>
      </article>
      <article class="testimonial">
        <p class="testimonial-text">"We had an emergency with our kitten, and the clinic was not only responsive but also very compassionate."</p>
        <p class="testimonial-author">- John Smith</p>
      </article>
      <article class="testimonial">
        <p class="testimonial-text">"Best veterinary care we've experienced. Professional, thorough, and friendly. Highly recommend."</p>
        <p class="testimonial-author">- Emily Johnson</p>
      </article>
    </div>
  </section>
  <br>
  </div>
  <%- include('footer'); %>
  
</body>
</html>
