<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('css/indexCss'); %>
  <title>Blank's Veterinary Clinic</title>
</head>

<body id="body">

  <%- include('header'); %>

  <% if (typeof message !== 'undefined') { %>
    <p><%= message %></p>
  <% } %>
  
  <img src="/pictures/homePage.jpg" alt="Home Page" width="700px" height="700px">



  <%- include('footer'); %>
  
</body>
</html>
