<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('css/indexCss'); %>
  <%- include('css/bioCss'); %>
  <title>Izzy</title>
</head>

<%- include('header'); %>

<body id="body">
  <div id="center">

  <img src="/pictures/vettech.jpg" alt="Izzy" width="30%" height="40%">
  <div id="main">
    
    <p>
      If it weren't for me this place would be up in flames, literally. I completed highschool with a 3.9 GPA. 
    </p>

    <p>
      Contact: <br>
      Email: izzybizzy@gmail.com<br>
      Phone Number: 715-872-4488<br>
      Fax Number: [+1-715-446-2788]<br>
    </p>
  </div>
  </div>
  
</body>

<%- include('footer'); %>

</html>