<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/index.css">
  <title>Blank's Veterinary Clinic</title>
</head>
<body id="body">

  <%- include('header'); %>

  <% if (typeof message !== 'undefined') { %>
    <p><%= message %></p>
  <% } %>

  <div id="main">

    <% if (typeof errorMessage !== 'undefined') { %>
      <p style="color: red;"><%= errorMessage %></p>
    <% } %>
    
    <h2>Patient Login:</h2>
    <p>
      <form action="/login" method="POST">
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>

        <button type="submit">Login</button>
      </form>
    </p>
    <p>
      Don't have an account? <a href="/createAccount.ejs">Create one here!</a>
    </p>
    <p>
      <a href="/employeeLogin.ejs">Employee Login</a>
    </p>
  </div>

  <%- include('footer'); %>
  
</body>
</html>
