<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('css/indexCss'); %>
  <%- include('css/bioCss'); %>
  <title>Margret</title>
</head>

<%- include('header'); %>

<body id="body">
  <div id="center">

  <img src="/pictures/receptionist-1.jpg" alt="Margret" width="30%" height="40%">
  <div id="main">
    
    <p>
      I finished highschool.
    </p>

    <p>
      [Margret just didn't want to fill out the rest of the form.]
    </p>

    <p>
      Contact: <br>
      Email: foRealizes9@yahoo.com<br>
      Phone Number: 715-362-4588<br>
      Fax Number: [+1-715-366-7788]<br>
    </p>
  </div>
  </div>
  
</body>

<%- include('footer'); %>

</html>