<!-- search.ejs -->
<div id="search-container">
    <input type="text" id="searchBar" placeholder="Search..." aria-label="Search">
    <button onclick="javascript:searchContent();">Search</button>
    <button onclick="javascript:clearSearch();">Clear</button>

</div>
  <div id="searchResults"></div>
  